body {
    padding: 0;
    margin: 0;
}

.navigation {
    background-color: #DDDDDD;
    font-family: Quicksand;
    display: flex;
    justify-content: space-between;
    padding: 2vh;
    height: 12vh;
}

.intro {
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
}

.left img {
    width: 12vh;
    height: 12vh;
    border-radius: 50%;
    display: flex;
}

#right img {
    width: 60vh;
    height: 84vh;
    border-radius: 50% 0 0 0;
    display: flex;
}

.left {
    margin-left: 20vh;
    display: flex;
}

.homeTitle {
    display: flex;
    flex-direction: column;
    font-size: 4vh;
    margin-left: 2vh;
    margin-top: 3.2vh;
    font-weight: bold;
    font-family: Lato;
}

.right {
    margin-right: 20vh;
    margin-top: 3vh;
}

.navbuttons {
    text-decoration: none;
    color: #2f2f2f;
    padding-right: 3vh;
    font-size: 2vh;
    font-family: Quicksand;
}

.button {
    background-color: #E5B1DD;
    border: none;
    color: #2f2f2f;
    width: 25vh;
    height: 6vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vh;
    font-family: Quicksand;
}

.textSection {
    margin-left: 22.5vh;
    display: flex;
    padding-top: 20vh;
    flex-direction: column;
}

.subtitle {
    font-size: 2vh;
    font-family: Quicksand;
}

.main {
    font-size: 10vh;
    font-family: Lato;
    font-weight: Bold;
}

#introbutton {
    margin-top: 1vh;
    margin-right: 2vh;
}

.contact {
    color: #BC81B2;
    text-decoration: none;
    font-family: Quicksand;
}

.foot {
    background-color: #DDDDDD;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 8vh;
    width: 100%;
    opacity: .8;
    display: flex;
    flex-direction: row;
}

#copyright {
    margin-left: 22.5vh;
    margin-top: 3vh;
    margin-right: 6vh;
    margin-bottom: 3vh;
    font-family: Quicksand;
    font-weight: Bold;
}

.footimg {
    width: 4vh;
    height: 4vh;
}

.distance {
    margin: 2vh;
}